@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
    :root[data-theme="light"] {
        --color-background: #F5F7F9;
        --color-background-surface: #FFFFFF;
        --color-background-surface-secondary: #ECEFF3;
        --color-text-primary: #14171F;
        --color-text-secondary: #787878;
        --color-mint: #72B4A9;
        --color-raspberry: #E0055D;
        --color-cocoa-brown: #E06B05;
    }

    /* Se o seu tema padrão for dark ou se usar o atributo data-theme */
    :root {
        --color-background: #0E0F17;
        --color-background-surface: #14171F;
        --color-background-surface-secondary: #1A1C24;
        --color-text-primary: #D9D9D9;
        --color-text-secondary: #787878;
        --color-mint: #72B4A9;
        --color-raspberry: #E0055D;
        --color-cocoa-brown: #E06B05;
    }
}